body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1279px){
  .drop-container{
    display: none;
  }
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
}