body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.back-txt{
  font-size: 1.2rem;
}

.heading-txt{
  font-size: 1rem;
}

.faq-search-container{
  background-color: #328679;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.inner-faqdiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

ul{
  list-style-type: none;
}

.image-size{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-size-2{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nav-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 500px){
  .nav-icons{
    display: none;
  }
}

@media (max-width: 800px){
  .image-size{
    display: none;
  }
}

@media (max-width: 1279px){
  .drop-container{
    display: none;
  }
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
}

.css-zdk3db-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
  background-color: #D5E7E5 !important;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root{
  box-shadow: 0 0 1px 1px rgba(87, 87, 87, 0.3) !important;
  border-radius: 10px !important;
}